body
    color: $cinza-claro
    background-color: $cinza-escuro
    .login-form
        width: 350px
        margin: 0 auto
        .btn:hover, .btn:focus
                background: $azul-claro
        .logo
            img
                width: 100%
            
        form
            color: $cinza-escuro
            border-radius: 10px
            margin-bottom: 15px
            font-size: 13px
            padding: 30px
            position: relative
            box-shadow: 2px 2px 0px 0px
        h2
            font-size: 22px
            margin: 40px 0px 25px
        input[type="checkbox"]
            margin-top: 2px
    .form-control
        min-height: 40px
        background: $branco
        box-shadow: none;
        border-color: $cinza-claro
        .btn
            border-radius: 10px
    .form-control:focus
        border-color: $azul-escuro
    
    